:root.theme-dark {
  --background: #000028;
  --header: #db00ff;
  --accent: #ff0070;
  --text: #f1b2ce;
}

.theme-dark .page {
  background-image: url("../images/cover-image-dark.png");
}

.theme-dark .main__section-title {
  color: var(--accent);
}

.theme-dark .title-accent {
  color: var(--background);
}